.color{
  color:  greenyellow;
  
}
#product{
  padding: 20px;
  transition: 0.7s;
}
#product:hover{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 
}
.setting2 p{
  text-align: center;
}
.setting2 h2{
  text-align: center;
}
.setting2 h3{
  text-align: center;
}
.setting2 img{
 margin-left: 30rem;
}
.next , .prev{
  width: 40px;
  height:40px;
  background-color: rgba(237, 237, 237, 0.67) transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  transition: 0.3s;
}
.next:hover , .prev:hover{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.next{
  position: absolute;
  top: 40%;
  right: 2%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev{
  position: absolute;
  top: 40%;
  left: 2%;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
}
.slick-dots{
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%);
}
.slick-dots li{
  display: inline-block;
  width: 40px;
  height: 40px;
  /* background-color: #fff transparent;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  border-radius: 50%;

}
.slick-dots li button {
  width: 20px;
  height: 20px;
  /* background-color: black transparent; */
  background: transparent;
  border-radius: 50%;
  border: none;
  margin-top: 7px;
  margin-left: 10px;
  opacity: 0;
}
.slick-dots li.slick-active button{
opacity: 1;
}
.slick-dots li.slick-active{
  background-color: #fff transparent;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
}
